<div class="home__container">
    <app-card
gamecover="assets/bt-1.jpg"
gamelabel="DIGITAL"
gametype="DIGITAL | PS4"
gameprice="199,90"
    >
</app-card>

<app-card
gamecover="assets/bt-4.jpg"
gamelabel="EXCLUSIVO"
gametype="DISCO | PS5"
gameprice="R$ 200,00"

    >
</app-card>

<app-card
gamecover="assets/ac-cover.jpg"
gamelabel="EXCLUSIVO"
gametype="DISCO | PS5"
gameprice="R$ 400,00"

    >
</app-card>]

<app-card
gamecover="assets/bt-5.jpg"
gamelabel="EXCLUSIVO"
gametype="DISCO | PS5"
gameprice="R$ 300,00"

    >
</app-card>

<app-card
gamecover="assets/bt-hardline.jpg"
gamelabel="EXCLUSIVO"
gametype="DISCO | PS4"
gameprice="R$ 200,00"

    >
</app-card>

</div>
